/* style.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #964d4db6;
    color: #ffffffc4;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #0e18227c 3px solid;
}

header h1, header p {
    margin: 0;
    padding: 0 40px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #803434;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
